body {
    font-family: sans-serif;
    font-size: 13px;
}

.gamelist {
    /* display: grid;
    grid-template-columns: repeat(8, 1fr); */
}

.game {
    display: inline-block;
    width: 250px;
    height: 400px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.realimage {
    width: 260px;
    height: 200px;
    background-size: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    margin-left: -5px;
    margin-top: -5px;
}

h2 {
    font-size: 18px;
    text-align: center;
}

.fakeimage {
    width: 250px;
    height: 200px;
    font-size: 80px;
    text-align: center;
}

.description {
    text-overflow: ellipsis;
}

.description p {
    margin: 0;
}

.votes {
    text-align: center;
}

.votes .votesreal {
    white-space: nowrap;
}